* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Arka Planlar */
  --clr-white: hsl(0, 0%, 100%); /* Kart zemin */
  --clr-stone-100: hsl(30, 54%, 90%); /* Sayfa zemin (body) */
  --clr-rose-50: hsl(330, 100%, 98%); /* Preparation kutusu zemin */

  /* Metin ve Paragraf Renkleri */
  --clr-stone-600: hsl(30, 10%, 34%); /* <p> (Paragraflar) ve liste yazıları */
  --clr-stone-900: hsl(24, 5%, 18%); /* h1 (Ana başlık) */
  --clr-brown-800: hsl(14, 45%, 36%); /* h2 (Bölüm başlıkları) */
  --clr-rose-800: hsl(332, 51%, 32%); /* Preparation time başlığı */

  /* Çizgiler */
  --clr-stone-150: hsl(30, 18%, 87%); /* Alt çizgiler (hr / border) */

  /* Fontlar */
  --ff-outfit: "Outfit", sans-serif;
  --ff-young-serif: "Young Serif", serif;

  /* Kalınlıklar */
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--clr-stone-100);
  font-family: var(--ff-outfit), sans-serif;
  margin: 0;
  padding: 0;
}
